<%# <form class="new-article-form" action='#'>
    <div class="field">
        <label>Title</label>
        <input type="string" name="title" id="article-title">
    </div>
    <div class="field">
        <label>Content</label>
        <input type="text" name="content" id="article-content">
    </div>
<button class="create article">Create Article</button> %>
<h1>Hello, Rails!</h1>
    <li><%= link_to 'All Articles', controller: 'articles' %></li>




